<div class="container" ng-controller="alunoController">

    <div class="row">
        <div class="page-header">
            <h3>Cadastrar Refeição</h3>
        </div>
    </div>    
    
    <div class="row">
        <form class="form-inline">
                <md-input-container>
                    <label>Grãos</label>
                    <input ng-model="cardapio.graos" placeholder="Grãos" required>
                </md-input-container>
                <md-input-container>
                    <label>Frutas</label>
                    <input ng-model="cardapio.frutas" ng-keyup="addCampo()" placeholder="Frutas" required>
                </md-input-container>
                <md-input-container>
                    <label>Carne</label>
                    <input ng-model="cardapio.carne" ng-keyup="addCampo()" placeholder="Carne" required>
                </md-input-container>
                <md-input-container>
                    <label>Suco</label>
                    <input ng-model="cardapio.suco" ng-keyup="addCampo()" placeholder="Suco" required>
                </md-input-container>
                <md-input-container>
                    <label>Complemento</label>
                    <input ng-model="cardapio.complemento" ng-keyup="addCampo()" placeholder="Complemento" required>
                </md-input-container>
                
                <md-input-container flex="50">
                    <label>Dia da semana</label>
                    <md-select name="type" ng-model="refeicao.dia" required>
                        <md-option value="segunda">Segunda</md-option>
                        <md-option value="terca">Terça</md-option>
                        <md-option value="quarta">Quarta</md-option>
                        <md-option value="quinta">Quinta</md-option>
                        <md-option value="sexta">Sexta</md-option>
                        <md-option value="sabado">Sábado</md-option>
                    </md-select>
                </md-input-container>
            
                <md-button class="md-raised md-primary" ng-click="adicionaRefeicao()">
                    Cadastrar
                </md-button>
    
                <md-button class="md-raised md-primary" ng-click="redirecionar()">
                    Redirecionar
                </md-button>
        </form>
        
    </div>
</div>