<div class="container" ng-controller="cardapioController">

    <div class="row">
        <div class="page-header">
            <h3>Cardápio</h3>
        </div>
    </div>    
    
    <div class="row">
        <md-button class="md-raised md-primary" ng-click="redirecionar()">Segunda</md-button>
        <md-button class="md-raised md-primary" ng-click="">Terça</md-button>
        <md-button class="md-raised md-primary" ng-click="">Quarta</md-button>
        <md-button class="md-raised md-primary" ng-click="">Quinta</md-button>
        <md-button class="md-raised md-primary" ng-click="">Sexta</md-button>
        <md-button class="md-raised md-primary" ng-click="">Sábado</md-button>
    </div>
</div>