<div class="container" ng-controller="alunoController">
    <div class="row">
        <div class="page-header">
            <h3>Informações</h3>
        </div>
    </div>    
    
    <div class="row">
        <md-button class="md-raised md-primary" ng-click="redireciona()">
                    Grãos
                </md-button>
                <md-button class="md-raised md-primary" ng-click="redireciona()">
                    Frutas 
                </md-button>
                <md-button class="md-raised md-primary" ng-click="redireciona()">
                    Carne
                </md-button>
                <md-button class="md-raised md-primary" ng-click="redireciona()">
                    Suco
                </md-button>
                <md-button class="md-raised md-primary" ng-click="redireciona()">
                    Complementos
                </md-button>
    </div>

</div>